@import "colors.css";

* {
  font-size: 12px;
  font-family: CaskaydiaCove Nerd Font;
  font-weight: bold;
}

window#waybar {
  all: unset;
  color: @primary;
  padding: 0px 5px;
}

.modules-left {
  padding: 7px;
  margin: 10px 0px 0px 10px;
  border-radius: 0px;
  background: alpha(@background, 0.85);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-right {
  padding: 7px;
  margin: 10px 10px 0px 0px;
  border-radius: 0px;
  background: alpha(@background, 0.85);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

tooltip * {
  padding: 5px;
  color: @secondary;
}

tooltip {
  background: alpha(@background, 0.6);
  border: 2px solid @inverse_primary;
  border-radius: 0px;
  color: @secondary;
  transition: all 1s ease;
}

#clock:hover,
#bluetooth:hover,
#network:hover,
#wireplumber:hover,
#backlight:hover,
#battery:hover,
#memory:hover,
#temperature:hover {
  color: @tertiary;
  transition: all 0.7s ease;
}

#custom-separator {
  color: @inverse_primary;
  transition: all 0.3s ease;
}

#custom-date {
  padding: 0px 5px;
  color: @primary;
  transition: all 0.3s ease;
}

#custom-time {
  padding: 0px 5px;
  color: @primary;
  transition: all 0.3s ease;
}

#workspaces {
  padding: 0px 5px;
}

#workspaces button {
  all: unset;
  padding: 0px 5px;
  color: alpha(@primary, 0.4);
  transition: all 0.2s ease;
}

#workspaces button:hover {
  color: @tertiary;
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
}

#workspaces button.active {
  color: @primary;
  border: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#workspaces button.empty {
  color: @surface_bright;
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.2);
}

#workspaces button.empty:hover {
  color: @tertiary;
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
}

#workspaces button.empty.active {
  color: @primary;
  border: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#bluetooth {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: @primary;
}

#network {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: @primary;
}

#wireplumber {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: @secondary;
}

#backlight {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: @secondary;
}

#battery {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: @secondary;
}

#battery.charging {
  color: @tertiary;
}

#battery.warning:not(.charging) {
  background: none;
  color: @on_primary_fixed_variant;
}

#battery.critical:not(.charging) {
  color: @error_container;
}

#group-expand {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: @secondary_container;
}

#custom-expand {
  padding: 0px 5px;
  color: alpha(@on_surface, 0.2);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
}

#custom-expand:hover {
  color: rgba(255, 255, 255, 0.2);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

#memory,
#temperature {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: @secondary;
}

#tray {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: @inverse_primary;
}

#tray menu * {
  padding: 0px 5px;
  background: alpha(@background, 0.6);
  color: @secondary;
  border: none;
  transition: all 1s ease;
}

#tray menu separator {
  padding: 0px 5px;
  transition: all 0.3s ease;
}
